

.App-header {
  background-color: #282c34;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: white;
  margin-bottom: 10px;
}

.App-link {
  color: #09d3ac;
}
